/*******************
********************
	Media queries
		EJEMPLO
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}

*******************/
@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}



/************************
**************************
	Transitions
	EJEMPLO
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}

*****************************/


@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


/************************
**************************
	Visually hide an element
http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
*****************************/

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}


.visually-hidden {
  @extend %visuallyhidden;
}