/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d25a1f4f-4d18-4b4d-bc95-aea571e6a650");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****
	TIPOGRAFIA
****/
@font-face {
  font-family: "Neue Haas Unica W01 UltraLight";
  src: url("../fonts/dfc4afbf-ccfb-494f-9ee0-8bc445d7bea7.eot?#iefix");
  src: url("../fonts/dfc4afbf-ccfb-494f-9ee0-8bc445d7bea7.eot?#iefix") format("eot"), url("../fonts/c361e26e-4526-46d8-a9f6-c74877ea3bce.woff2") format("woff2"), url("../fonts/ab956d19-7e42-4da4-b0be-7e64d554b081.woff") format("woff"), url("../fonts/eeeae646-c964-4dbb-9269-da8dc83b40f7.ttf") format("truetype"), url("../fonts/3c611b98-8e5e-4813-b686-3e7417601af0.svg#3c611b98-8e5e-4813-b686-3e7417601af0") format("svg"); }

@font-face {
  font-family: "Neue Haas Unica W01 Thin";
  src: url("../fonts/ba48202e-b3fb-4d2e-b782-6e50f7f710b9.eot?#iefix");
  src: url("../fonts/ba48202e-b3fb-4d2e-b782-6e50f7f710b9.eot?#iefix") format("eot"), url("../fonts/89cc27d4-e9bd-43de-ab56-cc7015e1ff7d.woff2") format("woff2"), url("../fonts/ad1cd90c-7793-4c0a-a7ce-4a6122b0e265.woff") format("woff"), url("../fonts/4c5113af-3402-4eb0-8a1e-59b38d4c4dc6.ttf") format("truetype"), url("../fonts/cdab2db0-1eb1-4654-ad89-5a64b95eab50.svg#cdab2db0-1eb1-4654-ad89-5a64b95eab50") format("svg"); }

@font-face {
  font-family: "Neue Haas Unica W01 Light";
  src: url("../fonts/001e59a9-197e-4fb1-9e72-cef21b186c03.eot?#iefix");
  src: url("../fonts/001e59a9-197e-4fb1-9e72-cef21b186c03.eot?#iefix") format("eot"), url("../fonts/e5716290-d41e-4c97-a27c-7a20a46ddf45.woff2") format("woff2"), url("../fonts/b681571f-aab2-4935-a99c-6ee1063ce638.woff") format("woff"), url("../fonts/1d88a9b0-aac0-40df-baf7-a630cd19cc5d.ttf") format("truetype"), url("../fonts/40a247b1-2840-4953-b24b-8a82ace0673b.svg#40a247b1-2840-4953-b24b-8a82ace0673b") format("svg"); }

@font-face {
  font-family: "Neue Haas Unica W01 Regular";
  src: url("../fonts/0ebd7648-5847-404a-a88a-28a353c0921c.eot?#iefix");
  src: url("../fonts/0ebd7648-5847-404a-a88a-28a353c0921c.eot?#iefix") format("eot"), url("../fonts/e0d80810-f7e3-4fea-8c57-ef8116f0465d.woff2") format("woff2"), url("../fonts/27645c8a-608b-4abf-a2f1-c4407b576723.woff") format("woff"), url("../fonts/bd3b3439-8eff-445c-80ed-87064138ca7d.ttf") format("truetype"), url("../fonts/bf3731ee-64fe-49c1-b8a6-a4edbff3c74a.svg#bf3731ee-64fe-49c1-b8a6-a4edbff3c74a") format("svg"); }

@font-face {
  font-family: "Neue Haas Unica W01 Medium It";
  src: url("../fonts/56b738a7-54b9-4e8c-a470-d96972ab3303.eot?#iefix");
  src: url("../fonts/56b738a7-54b9-4e8c-a470-d96972ab3303.eot?#iefix") format("eot"), url("../fonts/2418a824-3af2-42d7-a62e-f7a77cf487d1.woff2") format("woff2"), url("../fonts/86b76db5-9343-473a-a106-60683cec7626.woff") format("woff"), url("../fonts/2b883332-01dc-4b55-ac6a-d24c84f0e334.ttf") format("truetype"), url("../fonts/7de50dd1-4a4e-47bf-bb5d-33bf1450649a.svg#7de50dd1-4a4e-47bf-bb5d-33bf1450649a") format("svg"); }

/*******************
********************
	Media queries
		EJEMPLO
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}

*******************/
/************************
**************************
	Transitions
	EJEMPLO
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}

*****************************/
/************************
**************************
	Visually hide an element
http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
*****************************/
.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

body {
  font-family: "Neue Haas Unica W01 Regular", "Arial", "Helvetica", sans-serif;
  background: #fff;
  color: #fff;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.46; }

* {
  min-height: 0;
  min-width: 0; }

html {
  height: 100%; }

a {
  text-decoration: none;
  color: #fff; }

.contenedor-center {
  /*  display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    */ }

#the-wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.no-padding {
  padding-right: 0;
  padding-left: 0; }

.row {
  max-width: 1000px;
  margin: 0 auto; }

/*****************
	header

******************/
.main-header {
  width: 100%;
  position: relative;
  background: #011133; }

.tagline svg {
  padding: 10px;
  max-width: 400px; }
  @media only screen and (max-width: 30em) {
    .tagline svg {
      max-width: 90%; } }

.menu {
  margin: 0 auto;
  max-width: 570px;
  width: 100%;
  position: relative;
  text-align: center;
  clear: both;
  padding: 20px 0; }
  .menu ul {
    position: relative;
    display: inline-block; }
  .menu li {
    display: inline-block;
    color: #011133; }
    .menu li a {
      color: #011133;
      height: 77px;
      width: 100%;
      padding: 0 5px;
      line-height: 77px;
      text-align: center;
      text-transform: uppercase;
      border-bottom: 2px solid;
      cursor: pointer;
      transition: all 0.3s ease-in-out; }
      .menu li a:hover {
        text-decoration: none; }
      @media only screen and (max-width: 30em) {
        .menu li a {
          height: 40px;
          line-height: 40px; } }
  .menu .festivales a {
    border-color: #c82133; }
    .menu .festivales a:hover {
      transition: all 0.3s ease-in;
      color: #c82133; }
  .menu .videos a {
    border-color: #de762e; }
    .menu .videos a:hover {
      transition: all 0.3s ease-in;
      color: #de762e; }
  .menu .playlists a {
    border-color: #6fa748; }
    .menu .playlists a:hover {
      transition: all 0.3s ease-in;
      color: #6fa748; }
  .menu .articulos a {
    border-color: #467bbe; }
    .menu .articulos a:hover {
      transition: all 0.3s ease-in;
      color: #467bbe; }

.wrapper-logo {
  display: flex;
  width: 100%;
  background: url(../images/musica_header.jpg);
  background-size: cover;
  min-height: 420px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center; }
  @media only screen and (max-width: 30em) {
    .wrapper-logo {
      min-height: 200px; } }
  .wrapper-logo .the-logo {
    max-width: 380px;
    width: 100%; }
    .wrapper-logo .the-logo img {
      width: 80%; }

/*****************************************/
.container-center {
  margin: 0 auto;
  padding-bottom: 90px; }

.item-centered {
  display: block;
  margin: 0 auto;
  float: none; }

/*****************************

		TEXTOS

******************************/
.main-title {
  margin: 10px 0; }
  .main-title span {
    color: #004990; }

.text-centered {
  text-align: center; }

h1 {
  font-size: 80px;
  font-family: "Neue Haas Unica W01 Medium It"; }
  @media only screen and (max-width: 30em) {
    h1 {
      font-size: 30px; } }

h2 {
  font-size: 28px;
  font-family: "Neue Haas Unica W01 Thin"; }
  @media only screen and (max-width: 30em) {
    h2 {
      font-size: 16px; } }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

/*****************************

		footer

******************************/
#mainFooter {
  text-align: center;
  padding-bottom: 5px; }
  #mainFooter p, #mainFooter a {
    color: #011133; }

.footer-info {
  font-size: 70%;
  line-height: 120%; }
  .footer-info a {
    text-decoration: underline; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.CMSComponent, .intro {
  background: #004990;
  padding: 70px 0 30px; }
  @media only screen and (max-width: 30em) {
    .CMSComponent, .intro {
      padding: 15px 0; } }
  .CMSComponent p, .intro p {
    font-size: 24px;
    text-align: center;
    font-family: "Neue Haas Unica W01 Light";
    line-height: 130%; }
    @media only screen and (max-width: 30em) {
      .CMSComponent p, .intro p {
        font-size: 14px; }
        .CMSComponent p .ContentHeader-icon, .intro p .ContentHeader-icon {
          width: 80px; } }
  .CMSComponent .intro-text, .intro .intro-text {
    padding: 0 0 40px; }

.btn-main {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  min-width: 150px;
  padding: 15px;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 600;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 50px;
  text-transform: uppercase; }
  .btn-main:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    text-decoration: none; }
  .btn-main:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    left: 70%;
    opacity: 0;
    top: -2.5px; }
  .btn-main:hover:before {
    left: 85%;
    opacity: 1; }
  .btn-main span {
    font-family: Arial, Helvetica;
    letter-spacing: 1px; }
  .btn-main:focus {
    color: #fff;
    text-decoration: none; }
